// Edit Navigation and links here
mixin nav-content()
  ul
    span.arts {{ category.advice | last | size }}
    li.arts: a(href='#') Arts & Music
    span.personal {{ posts.category.personal | size }}
    li.personal: a(href='#') Personal Projects
    span.lessons {{ site.category.lessons | size }}
    li.lessons: a(href='#') Lessons & Tips
    span.archives {{ site.posts | size }}
    li.archives: a(href='#') Archives
    hr
    li.page: a(href='#') Page 1
    li.page: a(href='#') Page 2
-// ---------------------------

.mobile-nav
  +nav-content()

header
  .header-position
    .identity-box
      a(href='{{ site.url }}/index.html')
        h1.logo Exep
      p.tagline unusual; not typical
      hr
      .social-bar
        img.socialIcon(src='{{ site.url }}/assets/img/google.png')
        img.socialIcon(src='{{ site.url }}/assets/img/twitter.png')
        img.socialIcon(src='{{ site.url }}/assets/img/behance.png')
        img.socialIcon(src='{{ site.url }}/assets/img/github.png')
      hr
    nav
      +nav-content()
    
    .mobile-nav-toggle: span
